
<% title 'Search results' %>

<div id="search_tabs">
  <ul>
    <li><a href="#tabs-1">Users</a></li>
    <li><a href="#tabs-2">Routes</a></li>
    <li><a href="#tabs-3">Places</a></li>
  </ul>
    <div id="tabs-1">
      <% users = search_users(params[:search]) %>
      <%= render users %>
    </div>
    <div id="tabs-2">
      <% routes = search_routes(params[:search]) %>
      <div id="routes_list">
        <%= render routes %>
      </div>
    </div>
    <div id="tabs-3">
      <% places = search_places(params[:search]) %>
      <%= render places %>
    </div>
</div>
