

<%= form_tag password_resets_path, :method => :post, :id => 'reset_dialog' do %>
  <div class="header">
    <span>Reset your password</span>
  </div>
  <div class="dialog_body">
    <span>
      Apparently you don't remember your password. Say it ain't so! Anyway,
      if you submit this form we'll send you an email with instructions on
      how to reset your password.
    </span>
    <div class="holding" data-fieldname="email">
      <span class="holder">Email</span>
      <%= r_submit "Reset Password" %>
      <%= text_field_tag :email, nil, { class: 'r_raw_field'  } %>
    </div>
  </div>
<% end %> 
