
/*
 * The address_picker widget.
 */


@import "widgets.scss";


code {
  background-color: ghostWhite;
  border: 1px solid #DEDEDE;
  color: #444;
  padding: 0 3px;
}

label {
  width: 100px;
  float:left;
  text-align:right;
  margin:4px 10px 0 0;
}

p {
  float:left;
  width: 100%;
}
.gist {
  margin-top: 10px;
  font-size: 12px;
}

.ui-autocomplete-input, .input input {
  @extend .r_text_field;
}
/*
.ui-autocomplete-input {
  border: 1px solid #DDD !important;
  padding-top: 0px !important;
}*/

#map {
  border: 1px solid #DDD; 
  width:300px;
  height: 300px;
/*   float:left;   */
  margin: 0px 0 0 10px;
  -webkit-box-shadow: #AAA 0px 0px 15px;
}

.ui-menu .ui-menu-item a {
  font-size: 12px;
}

.input {
/*   float:left;   */
} 
