/*
 * This file defines the style of the body, the container and
 * some Rails-specific errors messages.
 */


@import "mixins.scss";
@import "signup.scss";
@import "top.scss";
@import "footer.scss";
@import "routes.scss";
@import "places.scss";
@import "user.scss";


body {
  background-color:white;
  font:14px "Helvetica Neue", Helvetica, Arial, freesans;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#main {
  width:1000px;
  padding-top:60px;
  margin:0 auto 0 auto;

  a:hover {
    text-decoration:underline;
  }
}

a:link, a:visited {
  color:#27b;
  text-decoration:none;
}

#rem {
  float:left;
  background:url('rem.svg') no-repeat;
  text-indent:-9999px;
  display:block;
  color:#fff;
  height:35px;
  width:70px;
  margin-right:5px;
  outline:none;

  &:hover {
    background:url('rem-blue.svg') no-repeat;
  }
}

.avatar img {
  vertical-align:middle;
  position:relative;
  padding:2px;
  border:1px solid #ddd;
}

