/*
 * This file defines the style of the body, the container and
 * some Rails-specific errors messages.
 */


@import "mixins.scss";
@import "top.scss";
@import "footer.scss";


body {
  background-color: $white;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#main {
  width: 75%;
  margin: 0 auto;
  background-color: $white;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#rem {
  height:35px;
  width:70px;
  float:left;
  background:url('rem.svg') no-repeat;
  text-indent:-5000px;
/*   margin:0 0 0 0; */

  &:hover {
    background:url('rem-blue.svg') no-repeat;
  }
}

