/*
 * This file defines the style of the body, the container and
 * some Rails-specific errors messages.
 */


@import "mixins.scss";
@import "signup.scss";
@import "top.scss";
@import "footer.scss";


body {
  background-color: $white;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#main {
  width:1000px;
  padding-top:60px;
  margin:0 auto 0 auto;
}

#rem {
  float:left;
  background:url('rem.svg') no-repeat;
  text-indent:-9999px;
/*   margin:0 0 0 0; */
display:block;
  color:#fff;
  height:35px;
  width:70px;
  margin-right:5px;
/*   outline:none; */

  &:hover {
    background:url('rem-blue.svg') no-repeat;
  }
}
/*

div.top_bar {
  margin-bottom:20px;
}*/

