
/*
 * The style for the login page. It also imports the style for
 * special login menu.
 */


@import "login_menu.scss";


#login_page {
  padding:10px;
}

@mixin login_container {
  float:left;
  margin-left:40px;
}

#rem_login {
  @include login_container;

  a { font-size:12px; }
  .r_label { font-weight:bold; }
  .r_submit {
    margin-top:10px;
    margin-bottom:50px;
  }
}

#others_login {
  @include login_container;
}

.container_desc {
  margin-bottom:30px;
}

#others {
  list-style: none;
  padding:10px;
  margin-left:30px;

  li {
    margin-right:15px;
    padding: 0;
    float: left;
    #twitter { background:url('twitter.png'); }
    #google { background:url('google.png'); }
  }

  img {
    @include borders;
    border-color:$dark_royal;
  }
}
