
/*
 * The style applied to the user pages (profile page, following,...)
 */


@import "mixins.scss";


#user_head {
  display:inline;
  position:relative;

  span.tip {
    display:inline-block;
  }

  #user_nickname {
    font-weight:bold;
    font-size:28px;
    color:#4A4646;
    vertical-align:middle;
    margin-left:5px;
  }

  #user_name {
    font-size:28px;
    color:#999;
    vertical-align:middle;
  }

  .stretch {
    clear:both;
    margin:15px 0 20px;
    height:0;
    overflow:hidden;
    border-bottom:1px solid #ddd;
  }

  #follow_form {
    margin:20px 20px 0 0;
    float:right;
  }
}

#user_info {
  display:inline;
  position:relative;

  dl {
    margin:5px 0 0 0;
  }

  dt {
    font-size:12px;
    float: left;
    color:#999;
    text-align:right;
  }

  dd {
    font-size:12px;
    margin: 0 0 0 110px;
  }
}
