<% title 'API Basics' %>

<div class="title">Understanding the basics</div>

<div class="api_page">

<div class="subtitle">Getting information</div>

<div class="api_subpage">

Let's take a look at how we can we obtain all the information of users,
routes and places. Note that you will not retrieve the user's email
by using this method since this is not shown publicly.

<div class="code">
  GET http://mssola.heroku.com/[users | routes | places]/:name
</div>

</div>

<div class="subtitle">Remote Log in</div>
<div class="api_subpage">

With this method you'll be able to log in remotely. You have to provide
a name and password. The server will return an authorization token (auth_token)
that will be used from now on for the methods on this API that need the user
to be authenticated.

<div class="code">
  POST http://mssola.heroku.com/android
</div>

<div class="subsubtitle">Parameters</div>

<ul>
  <li><span>name</span>: the username for this user.</li>
  <li><span>password</span>: the password.</li>
</ul>

<div class="subsubtitle">Response</div>

<div class="response_code">
  <div class="response_header">
    <span>Status</span>: 200 OK
  </div>
<%= markdown render(partial: 'login_response') %>
</div>

</div>
</div>
