<% title 'API Basics' %>

<div class="title">Understanding the basics</div>

<div class="api_page">

<div class="subtitle">Remote Log in</div>
<div class="api_subpage">

With this method you'll be able to log in remotely. You have to provide
a name and password. The server will return an authorization token (auth_token)
that will be used from now on for the methods on this API that need the user
to be authenticated.

<div class="code">
  POST http://mssola.heroku.com/android
</div>

<div class="subsubtitle">Parameters</div>

<ul>
  <li><span>name</span>: the username for this user.</li>
  <li><span>password</span>: the password.</li>
</ul>

<div class="subsubtitle">Response</div>

<div class="response_code">
  <div class="response_header">
    <span>Status</span>: 200 OK
  </div>
<%= markdown render(partial: 'login_response') %>
</div>

</div>

<div class="subtitle">Getting information</div>

<div class="api_subpage">

Let's take a look at how we can we obtain all the information of users,
routes and places. Note that you will not retrieve the user's email
by using this method since this is not shown publicly.

<div class="code">
  GET http://mssola.heroku.com/[users | routes | places]/:name
</div>

<div class="subsubtitle">Parameters</div>

<ul>
  <li><span>auth_token</span>: if this parameter is not set and you requested
  the info of a protected route, it will return a 401 Http response, and the
  same if you requested the info of a place that belongs to a protected route.
  This parameter will be ignored when requesting some user's info, therefore
  this parameter is not mandatory.
  </li>
</ul>

With the former method you're not able to list the routes of a specific user.
However, if you really want to do so you have to call the following method:

<div class="code">
  GET http://mssola.heroku.com/users/:name/routes
</div>

<div class="subsubtitle">Parameters</div>

<ul>
  <li><span>auth_token</span>: if this parameter is properly set it will show
  all the routes of the user with username :name. Otherwise, it will only
  show the user's public routes. Note that this method also lists all the places
  for each route.
  </li>
</ul>

</div>

</div>
