
<% if @user.name.end_with? 's' %>
  <% title "#{@user.name}' Profile" %>
<% else %>
  <% title "#{@user.name}'s Profile" %>
<% end %>

<%= render partial: 'head' %>
<%= render partial: 'info' %>

<div id="user_body">
  <div id="user_routes" class="home_filter">
    <%= render partial: 'widgets/routes_filter', locals: { routes: @routes } %>
  </div>
  <div id="user_activity">
    <span>Public activity</span>
    <br><br>
    <div id="activity_list">
      <%= render @activities %>
    </div>
  </div>
</div>
