
<% if @user.name.end_with? 's' %>
  <% title "#{@user.name}' Profile" %>
<% else %>
  <% title "#{@user.name}'s Profile" %>
<% end %>

<%= render partial: 'head' %>
<%= render partial: 'info' %>

<div id="user_body">
  <div id="user_routes">
    <%= render partial: 'widgets/routes_filter' %>
  </div>
  <div id="user_activity">
    <b>Under construction</b>: This is your public activity.
  </div>
</div>
