
<div class="home">
  <div id="lhome">
    <span>Explore the world.</span>
    <p>
    Share your favourite places with your friends. Discover
    new corners and enjoy the experience.
    </p>
  </div>
  <div id="rhome">
    <span><b>New to Rem?</b>  Join today!</span>
    <form method="get" action="signup" >
      <fieldset id="new_user">
        <div class="prompt name">
          <div class="holding span_trick" data-fieldname="name">
            <div class="side_tip" id="existing_name">
            </div>
            <span class="holder">Username</span>
            <%= text_field_tag :name, nil, { class: 'r_raw_field', id: 'user_name' } %>
          </div>
        </div>
        <div class="prompt email span_trick">
          <div class="holding" data-fieldname="email">
            <div class="side_tip" id="email_error">
            </div>
            <span class="holder">Email</span>
            <%= text_field_tag :email, nil, { class: 'r_raw_field', id: 'user_email' } %>
          </div>
        </div>
        <%= r_submit 'Sign up' %>
      </fieldset>
    </form>
  </div>
</div>
