
<h1>Home page</h1>

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ultrices
tincidunt erat, id sodales purus congue at. Quisque tempor dapibus enim, at
ornare orci dapibus non. Aliquam vitae augue quis mi egestas tincidunt nec a
ligula. Proin facilisis, nunc eget dapibus tincidunt, metus purus interdum
magna, a porta massa risus ut lorem. Proin fringilla volutpat ligula in luctus.
Nunc viverra porta nunc blandit vulputate. Praesent nec adipiscing enim.
Donec vitae turpis elit, ac tincidunt tellus. Aenean pulvinar ipsum nec eros
consectetur lobortis venenatis tellus placerat.

<p>

Duis vitae nisi lacus, eu tempor sem. Aliquam erat volutpat. Vivamus eleifend
vulputate est ut tincidunt. Nulla facilisi. Aliquam porta, metus a facilisis
condimentum, massa arcu egestas magna, sit amet hendrerit massa tellus eleifend
leo. Pellentesque feugiat hendrerit augue nec euismod. Nulla at elit ligula,
sit amet molestie leo. Phasellus varius metus at massa venenatis ut placerat
mauris sollicitudin. Sed nec venenatis risus.

<p>

<form method="get" action="signup" >
  <%= r_submit 'Sign up' %>
</form>
