<% title 'Home' %>

<div id="home_logged">
  <%= link_to 'Create a new route!', new_route_url, id: 'home_new_route' %>
  <div id="home_activity">
    <span>News feed</span>
    <br><br>
    <div id="home_activity_list">
      <% unless @activities.nil? %>
        <%= render @activities %>
      <% end %>
    </div>
  </div>
  <div id="home_routes">
    <div id="user_routes" class="home_filter">
      <%= render partial: 'widgets/routes_filter', locals: { routes: @routes, home: true, filter_title: 'Your routes' } %>
    </div>
    <div id="user_publicroutes" class="home_filter">
      <% @routes = current_user.route_following - current_user.routes %>
      <%= render partial: 'widgets/routes_filter', locals: { routes: @routes, home: true, filter_title: 'Watched routes' } %>
    </div>
  </div>
</div>
