
<% title 'About' %>

<div class="about_head">
  <span>Rem is the best way to share your world with your friends.</span>
  <%= image_tag 'rem_user.png', :height => '52' %>
</div>

<br><br>

<div class="about_page">

Rem is a network that connects you with your friends and lets you
share your routes and favourite places. You can start by making photos
with your Android phone like crazy and then organize these photos into
routes and places.

<br><br>

Rem allows you to share your routes and to follow your friends' routes.
By doing this, you'll discover new corners of the world you'd never
see otherwise. Moreover, you can easily check if there are cool places
nearby with your Android phone and enjoy the route.

<br><br>

We hope that you enjoy this experience,
<br>
The Rem team.

</div>
