
<% title 'Contact' %>

<h1 class="title">Contact Rem</h1>

<div class="contact_page">

  <div class="left_dock">
  We’re here to help with any questions or comments. If you just want to say
  hi or to bring some fresh ideas, that's cool too.

  <p>
  Feel free to <a href="mailto:mikisabate@gmail.com">email</a> us in order to
  submit your request.
  </p>

  <p>Thanks,<br>
  The Rem team.</p>

  </div>

  <div class="right_dock">
    <span>What's useful on a contact request?</span>
    <ul>
      <li>Provide as many information as possible.</li>
      <li>Attach files if necessary.</li>
    <ul>
  </div>

</div>
