
<br>

<% present current_user do |user_presenter| %>
  <div id="account">
    <dl>
      <dt>Username</dt>
      <dd><%= user_presenter.name %></dd>
      <dt>Member since</dt>
      <dd><%= user_presenter.member_since %></dd>
    </dl>
  </div>
<% end %>

<br>

<%= link_to 'Delete Account', delete_account_path(current_user.id) %>
