<% title 'Home' %>

<p>Hi <b><%= current_user.name %></b>, this is your home page</p>

<br>
Before this webpage really takes off, we have to deal what it's capable of.
Right now, it should somehow show a map from Google showing your location.
<br>
