
<% title 'Rest API' %>

<h2>This is the API page</h2>

This is the provisional API page for the Rem service.

<br><br>

<b>Getting information</b>

<br><br>

There are two kinds of data that this API can return: JSON (default) and XML.
In order to obtain an XML, you must append the .xml extension at the url.
With that being said, now let's take a look at how to obtain information from
this API. In general, you just have to append to the url the model name plus
the name of the item we are consulting. With this rule we can build the
following table:

<table id="api_show" border="1">
<tr>
<th id="path_name">Path</th>
<th>Used for</th>
</tr>
<tr>
<td class="path_column">/users/:name</td>
<td>Obtain the info of the user with the name specified in :name</td>
</tr>
<tr>
<td class="path_column">/routes/:name</td>
<td>Obtain the info of the route with the name specified in :name</td>
</tr>
<tr>
<td class="path_column">/places/:name</td>
<td>Obtain the info of the place with the name specified in :name</td>
</tr>
</table>

<br>

So, for example if we want to obtain the information of a user named mssola,
 we could do:

<br><br>

curl http://rem.com/users/mssola (append .xml to obtain the same in XML format)

<br>
