<%= form_for current_user.route_relationships.build(:followed_id => @route.id) do |f| %>
  <div><%= f.hidden_field :followed_id %></div>
  <div class="actions"><%= f.submit "Follow", class: 'r_follow' %></div>
<% end %> 
