
<% if route.protected %>
<li class="protected route">
<% else %>
<li class="public route">
<% end %>
  <%= link_to "#{route.name}", "/#{@user.name}/#{route.id}", :class => 'route_name' %>
  <ul class="route-stats">
    <% if route.protected %>
      <li class="watchers" title="Watchers">
    <% else %>
      <li class="protected_watchers" title="Watchers">
    <% end %>
      <%= link_to route.followers.count, followers_route_path(@user.name, route.id) %>
    </li>
  </ul>
  <div class="route_body">
    <% if route.desc.nil? || route.desc.empty? %>
      <p>No description was given.</p>
    <% else %>
      <p><%= route.desc %></p>
    <% end %>
  </div>
</li>
