
<% if route.protected %>
<li class="protected route">
<% else %>
<li class="public route">
<% end %>
  <%= link_to "#{route.name}", "/#{@user.name}/#{route.id}", :class => 'route_name' %>
  <ul class="route-stats">
    <% if route.protected %>
      <li class="protected_watchers" title="Watchers">
    <% else %>
      <li class="watchers" title="Watchers">
    <% end %>
      <%= link_to route.followers.count, followers_route_url(@user.name, route.id) %>
    </li>
  </ul>
  <% if defined? home %>
    <br><br>
  <% else %>
    <div class="route_body">
      <% if route.desc.nil? || route.desc.empty? %>
        <p>No description was given.</p>
      <% else %>
        <p><%= route.desc %></p>
      <% end %>
    </div>
  <% end %>
</li>
