
  <div id="road_map"></div>

<br>

Some places on this route:
<% @places = Place.find :all, :conditions => ['route_id=?', @route.id] %>
<% @places.each do |p| %>
  <%= link_to p.name, map_place_path(p.id) %>
<% end %>

<br>
<br>

<%= link_to 'Add places', new_place_path %>

<br>
<br>

<%= button_to 'Delete Route', route_path(@route.id), method: :delete, class: 'r_submit' %>
