

@import "mixins.scss";

#account_page {
  padding:20px;
}

#account_tabs {
  text-decoration:none;
  list-style-type:none;
  float:left;

  li {
    @include borders-left;
    padding:12px 8px;
    a:hover { color:$dark-royal; }
    &:hover { background-color:$almost_white; }
  }

  li.selected {
    @include gradient(#fafafa, #efefef);
    border:1px solid #ddd;
    border-right:none;
  }
}

@mixin bucket_base {
  @include borders;
  border:1px solid #ddd;
  border-right:none;
  border-bottom:none;
  padding:10px;
  margin-right:50px;

  .r_label { font-weight:bold; }
}

#user_bucket {
  @include bucket_base;
  padding-left:50px;

  span {
    color:#636363;
    font-size:10px;
    margin-left:3px;
  }

  div.present {
    padding:5px;
    border:0;
  }

  .r_submit {
    margin-top:10px;
  }

  .r_text_field {
    width:250px;
  }
}

#admin_bucket {
  @include bucket_base;
  padding-left:50px;
  .r_label { font-weight:normal; }
  .r_raw_field { margin-top:5px; }
  strong { color:#636363; }
  form { margin-top:10px; }
}

.password_pair {
  margin-top:5px;

  input[type=password] {
    @extend .r_raw;
    display:inline;
  }
}

#notification_bucket {
  @include bucket_base;
}
