

@import "mixins.scss";

#account_page {
}

#account_tabs {
  text-decoration:none;
  list-style-type:none;
  margin-right:100px;
  float:left;
}

@mixin bucket_base {
  border:1px transparent;
  float:left;

  .r_label { font-weight:bold; }
}

#user_bucket {
  @include bucket_base;

  span {
    color:#636363;
    font-size:10px;
    margin-left:3px;
  }

  div.present {
    padding:5px;
    border:0;
  }

  .r_submit {
    float:right;
    margin-top:20px;
  }

  .r_text_field {
    width:250px;
  }
}

#admin_bucket {
  @include bucket_base;
}

#notification_bucket {
  @include bucket_base;
}
