
/*
 * This is the stylesheet for the API page
 */

@import "mixins.scss";


.title {
  font-weight:bold;
  font-size:20px;
  color:#4A4646;
  margin-left:10px;
  padding-bottom:5px;

  border-bottom:1px solid #ddd;
}

.api_page {
  margin-top:20px;
  margin-left:10px;
  padding-right:20px;
  font-size:14px;

  li {
    list-style-image:url('rarrow.png');
    width:60%;
    margin-bottom:5px;
    a:hover { text-decoration:underline; }
  }

  .subtitle {
    font-weight:bold;
    font-size:16px;
    color:#4A4646;
    padding-bottom:10px;
  }

  .subsubtitle {
    font-weight:bold;
    font-size:14px;
    color:#4A4646;
    padding-bottom:10px;
  }
}

.api_subpage {
  margin-bottom:20px;
  padding-left:10px;
  padding-right:10px;
  font-size:14px;

  ul {
    margin:0 30px 10px 30px;
    padding:0px;
    li {
      list-style-image:url('rarrow.png');
      width:60%;
      margin-bottom:5px;

      span {
        font-weight:bold;
        color:#808080;
      }
    }
  }

  .code {
    @include borders;
    font-size:13px;
    width:50%;
    background-color:#fafafa;
    border:1px solid #ddd;
    margin:10px 0px;
    padding:10px;
  }
}

@mixin here_the_code($width: 50%) {
  @include borders;
  border:1px solid #ddd;
  background-color:#fafafa;
  width:$width;

  .response_header {
    font-size:13px;
    padding:10px;
    border-bottom:1px solid #ddd;
    background-color:darken(#fafafa, 5%);

    span {
      font-weight:bold;
      color:#808080;
    }
  }

  .highlight {
    font-size:13px;
    padding-left:10px;

    .p { color:$dark_royal; }
    .o { color:$dark_royal; }
    .s1 { color:#bf0303; }
    .s2 { color:#bf0303; }
    .mi { color:$dark_royal; }
    .no { color: #BB1188; }
    .c1 { color: #898887; }
    .k { font-weight:bold; }
    .si { color: #006E28; }
  }
}

.response_code {
  @include here_the_code;
}

.ruby_code {
  @include here_the_code(100%);
}
