
/*
 * The style for the footer of the page.
 */

@import "mixins.scss";


#footer {
  color:#636363;
  font-size:12px;
  clear:both;
  width:$body_width;

  .footer_stretch {
    padding-top:30px;
    clear:both;
    height:0;
    width:$body_width;
    overflow:hidden;
    border-bottom:1px solid #ddd;
  }

  li {
    list-style:none;
  }

  ul.footer_nav {
    position:relative;
    float:left;
    width:164px;
    margin:20px 10px;
  }

  .footer_title {
    margin-bottom:10px;
    padding-bottom:5px;
    border-bottom:thin solid #e1e1e1;
  }

  a:hover {
    text-decoration:underline;
  }
}

#api_show {
  border-collapse:collapse;
  margin:25px 0 0 50px;

  #path_name {
    width:100px;
    padding:5px;
  }

  td {
    padding:5px;
  }
}
