/*
 * This file defines the style of the body, the container and
 * some Rails-specific errors messages.
 */


@import "mixins.scss";
@import "signup.scss";
@import "top.scss";
@import "footer.scss";
@import "routes.scss";
@import "places.scss";
@import "user.scss";
@import "password_reset.scss";


body {
  background-color:white;
  font:14px "Helvetica Neue", Helvetica, Arial, freesans;
  width:958px;
/*   height:91px; */
  min-width:950px;
  padding-top:100px;
  margin:0 auto 0 auto;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#main {
  a:hover {
    text-decoration:underline;
  }
}

a:link, a:visited {
  color:#27b;
  text-decoration:none;
}
