/*
 * This file defines the style of the body, the container and
 * some Rails-specific errors messages.
 */


@import "mixins.scss";
@import "signup.scss";
@import "top.scss";
@import "footer.scss";
@import "routes.scss";
@import "places.scss";
@import "user.scss";
@import "password_reset.scss";
@import "action_buttons.scss";
@import "activity.scss";


body {
  background-color:white;
  font:14px "Helvetica Neue", Helvetica, Arial, freesans;
  width:$body_width;
  min-width:$body_min_width;
  padding-top:$topbar_height;
  margin:0 auto 0 auto;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#main {
  padding:20px;
}

a:link, a:visited {
  color:#27b;
  text-decoration:none;
}

.error_dialog {
  width: 25em;
  padding: 0 4em;
  margin: 2em auto 0 auto;
  border: 1px solid #ccc;
  border-right-color: #999;
  border-bottom-color: #999;

  h1 {
    font-size: 100%;
    color: #f00;
    line-height: 1.5em;
  }
}
