
.pbucket {
  margin-top:20px;
  display:inline-block;

  .pbucket_title {
    float:left;
    padding:10px;

    span {
      margin-left:8px;
      font:16px "Helvetica Neue", Helvetica, Arial, freesans;
    }
  }

  .pbucket_body {
    padding:30px;
    float:right;
    margin-left:20px;

    .r_submit {
      float:right;
    }
  }

  .pbucket_errors {
    margin-top:20px;
  }

  div.field {
    margin-bottom:20px;
  }
}

#reset_dialog {
  @include borders;
  font-size:13px;
  width:50%;
  border:1px solid #ddd;
  margin:auto;
  margin-top:20px;

  .header {
    font-size:13px;
    padding:10px;
    border-bottom:1px solid #ddd;
    background-color:darken(#fafafa, 5%);

    span {
      font-weight:bold;
      color:#808080;
    }
  }

  .dialog_body {
    padding:10px;

    .holding {
      margin-top:20px;
      margin-left:25px;
      .holder {
        padding:10px;
        position:absolute;
        line-height:43px;
        color:#DDD;
        font-size:18px;
        margin-top:-15px;
      }

      input {
        @include shadows;

        outline:0;
        padding:8px 6px;
        width:240px;
      }

      .r_submit {
        display:inline;
        width:120px;
        position:absolute;
        margin-left:240px + 25px;
      }
    }
  }
}
