
.routes_filter {
  #filter_head {
    margin-bottom:5px;

    .title {
      font-weight:bold;
      font-size:16px;
    }
    .counter {
      color:#999;
      font-size:16px;
      margin-right:-30px;
    }

    ul { display:inline; }
    li {
      list-style:none;
      display:inline;
      margin-right:10px;
      font:12px "Helvetica Neue", Helvetica, Arial, freesans;
      a {
        text-decoration:none;
        &:hover { color:$dark_royal; }
      }
    }
  }

  #filter_field {
    span {
      position:absolute;
      color:#636363;
      font:12px "Helvetica Neue", Helvetica, Arial, freesans;
      margin-left:5px;
      height:7px;
      padding:2px;
      width:450px;
    }

    .r_raw_field {
      height:7px;
      width:450px;
    }
  }
}

#routes_list {
  list-style:none;
  padding:0px;

  .route {
    @include borders;

    list-style-type:none;
    margin:0 0 10px 0;
    padding:8px 10px 0 10px;
    border:1px solid #ddd;
    width:100%;
    overflow:hidden;
  }

  h3 {
    margin:0;
    font-size:13px;
    font-style:normal;
    white-space:nowrap;
  }

  .route_body {
    @include gradient(#fafafa, #efefef);
    @include borders_bottom;

    width:100%;
    margin:8px 0 0 -10px;
    padding:5px 10px 5px 10px;
    border-top:1px solid #eee;
    background-color:#f1f1f1;
    background:#fafafa;

    p {
      font-size:12px;
      color:#4A4646;
    }
  }
}

.route-stats {
  @include borders(3px);

  list-style:none;
  position:relative;
  float:right;
  margin-right:-10px;
  border:none;
  font-size:11px;
  font-weight:bold;
  padding:0 10px 0 15px;
  z-index:5;

  .watchers {
    border:none;
    display:inline;
    a {
      padding-right:5px;
      color:#666;
      background-repeat:no-repeat;
      background-position:5px -2px;
    }
  }
}
