
/*
 * The style applied to the top bar and related widgets.
 */


@import "login.scss";
@import "mixins.scss";


#top_bar {
  position:absolute;
  top:0;
  width:100%;
  z-index:100;
}

#top_sep {
  margin-bottom:20px;
  width:100%;
}

#top_right {
  float:right;
  padding:8px 5px 7px 10px;

  .avatar {
    display:inline-block;
    padding-right:6px;
    img { padding:1px; }
  }
}

#hot_top {
  display:inline;
  padding:10px;
  font:12px "Helvetica Neue", Helvetica, Arial, freesans;
  font-weight:bold;
  margin-right:10px;
  margin-left:-20px;

  li {
    list-style-type:none;
    display:inline;
  }

  a {
    padding:0 5px 0 6px;
    &:hover { color:$dark_royal; }
  }
}

#top_search {
  display:block;
  padding:5px;
  margin-left:35px;

  span {
    position:absolute;
    color:#636363;
    font:12px "Helvetica Neue", Helvetica, Arial, freesans;
    padding:6px;
    margin-left:3px;
  }
}
