
/*
 * The style applied to the top bar and related widgets.
 */


@import "login.scss";
@import "mixins.scss";


#rem {
  float:left;
  background:url('rem.svg') no-repeat;
  text-indent:-9999px;
  color:#fff;
  height:35px;
  width:70px;
  margin-left:5px;
  outline:none;

  &:hover {
    background:url('rem-blue.svg') no-repeat;
  }
}

.avatar img {
  vertical-align:middle;
  position:relative;
  padding:2px;
  border:1px solid #ddd;
}

#top_bar {
  @include gradient(#fafafa, #efefef);
  @include borders_bottom;

  position:absolute;
  top:0px;
  padding-top:3px;
  width:$body_width;
  height:$topbar_height;
  font-size:12px;

  border-top:none;
  border-color:#eee;
  border:1px solid #e9e9e9;
  border-bottom-color:#f5f5f5;
}

#top_sep {
  margin-bottom:30px;
  clear:both;
}

#top_right {
  float:right;
  display:inline-block;

  .avatar {
    display:inline-block;
    padding-right:6px;
    img { padding:1px; }
  }
}

#hot_top {
  display:inline;
  padding:10px;
  font:12px "Helvetica Neue", Helvetica, Arial, freesans;
  font-weight:bold;
  margin-left:-20px;

  li {
    list-style-type:none;
    display:inline;
  }

  a {
    padding:0 5px 0 6px;
    &:hover { color:$dark_royal; }
  }
}

#top_search {
  display:inline-block;
  padding:5px;
  margin-right:10px;

  span {
    position:absolute;
    color:#636363;
    font:12px "Helvetica Neue", Helvetica, Arial, freesans;
    padding:6px;
    margin-left:3px;
  }
}
