
/*
 * The style applied to the user pages (profile page, following,...)
 */


@import "mixins.scss";


.stretch {
  clear:both;
  margin:15px 0 20px;
  height:0;
  overflow:hidden;
  border-bottom:1px solid #ddd;
}

#user_head {
  display:inline;
  position:relative;

  span.tip {
    display:inline-block;
  }

  #user_nickname {
    font-weight:bold;
    font-size:28px;
    color:#4A4646;
    vertical-align:middle;
    margin-left:5px;
  }

  #user_name {
    font-size:28px;
    color:#999;
    vertical-align:middle;
  }

  #follow_form {
    margin:20px 20px 0 0;
    float:right;
  }
}

#user_info {
  display:inline;
  position:relative;

  #personal_info {
    float:left;
  }

  #bio_yogurt {
    vertical-align:middle;
    float:left;
  }

  #stats_info {
    float:right;
    font-size:12px;

    .stats li {
      list-style:none;
      border-bottom:none;
    }
  }

  #following_avatars {
    li {
      list-style:none;
      display:inline;
      margin-right:2px;
    }
  }

  dl {
    margin:5px 0 0 0;
  }

  dt {
    font-size:12px;
    float: left;
    color:#999;
    text-align:right;
  }

  dd {
    font-size:12px;
    margin: 0 0 0 110px;
  }
}

#user_body {
  display: inline;
  position: relative;

  #user_routes {
    float:left;
    width:450px;
  }

  #user_activity {
    float: right;
    width:450px;
  }
}

._route {
  display:inline;
  position:relative;
  padding-left:10px;

  .avatar {
    display:inline-block;
    padding-right:6px;
    img { padding:1px; }
  }

  a {
    vertical-align:middle;
    font-size:16px;
    font-weight:bold;
  }

  span {
    font-size:16px;
    color:#4A4646;
    margin-left:3px;
  }

  #follow_form {
    margin:0px 30px 0 0;
    display:inline-block;
    float:right;
  }

  .stretch {
    clear:both;
    margin:-50px 0 20px;
    height:0;
    overflow:hidden;
    border-bottom:1px solid #ddd;
  }
}
