
<% title @place.name %>

<%= gmaps4rails(@markers) %>

<p>
  <b>Name</b>:
  <%= best_in_place @place, :name, :inner_class => 'r_raw_field' %>
</p>

<p>
  <b>Desc:</b>
  <%= best_in_place_if !current_user.nil?, @place, :desc, type: :textarea, nil: 'Click me to add content!' %>
</p>

<br>

<%= button_to 'Delete Place', place_path(@place.id), method: :delete, class: 'r_submit' %>
