<div id="footer" >
  <div class="footer_stretch"></div>
  <div class="footer_dock">
    <div class="footer_title">Rem</div>
    <ul class="footer_nav">
      <li><a href="/about">About Rem</a>
      <li><a href="/contact">Contact & Support</a>
    </ul>
  </div>
  <div class="footer_dock">
    <div class="footer_title">Documentation</div>
    <ul class="footer_nav">
      <li><a href="/help">Help</a>
      <li><a href="/api">Developer API</a>
    </ul>
  </div>
</div> 
