<div id="footer" >
  <div class="footer_stretch"></div>
  <ul class="footer_nav"><div class="footer_title">Rem</div>
    <li><a href="/about">About Rem</a>
    <li><a href="/overview">Get an overview</a>
    <li><a href="/contact">Contact & Support</a>
  </ul>
  <ul class="footer_nav"><div class="footer_title">Documentation</div>
    <li><a href="/help">Help</a>
    <li><a href="/api">Developer API</a>
  </ul>
</div> 
